<h1>{{name}}</h1>
    <p><strong>Email: </strong> {{email}}</p>
    <p>Address : {{address.street}} {{address.city}}, {{address.state}}</p>
     <button (click)="updateShowHobbies()">{{showHobbies? "Hide Hobbies" : "Show Hobbies"}}</button>
     <div *ngIf="showHobbies">
         <h3> Hobbies: </h3>
             <ol>
              <li *ngFor="let hobby of hobbies" (click)="removeHobby(hobby)">
                {{hobby}}
              </li>
             </ol>
             <form (submit)="addHobby(newhobby.value)">
               <label>Add Hobby:</label> <br>
               <input type="text" name="newhobby" #newhobby>
             </form>
        
     </div>
     <hr>
     <h3>Edit User: </h3>
     <form>
       <label for="name">Name:</label>
       <input type="text" name="name" [(ngModel)] ="name">
       
       <label for="email">Email:</label>
       <input type="email" name="email" [(ngModel)] ="email">
       
       <p><strong>Address:</strong></p>
       <label for="street">Street: </label>
       <input type="text" name="street" [(ngModel)] ="address.street">
       
       <label for="city">City: </label>
       <input type="text" name="city" [(ngModel)] ="address.city">
       
         <label for="state">State: </label>
       <input type="text" name="state" [(ngModel)] ="address.state">
       
       <input type="submit" value="Submit">
       
     </form>
     <hr>
     <h3>Posts : </h3>
     <div *ngFor="let post of posts">
       <h4>{{post.title}}</h4>
       <p>{{post.body}}</p>
     </div>